{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Update Resource</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/update_resource.css' %}">
    </head>
    <body>
        {% block content %}
        <header>
            <!-- The navbar -->
            <div class="top-bar">
                <div class="site-icon">
                    <a href="{% url 'admin_resources' %}">Back</a>
                </div>
            </div>
        </header>

        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div> 
        {% endblock %}
    </body>
</html>