@media (min-width: 100px) and (max-width: 900px) {
    body, html {
        margin: 0;
        padding: 0;
        background-color: #e1d9d9;
    }

    /* Style for the dashboard container */
    header {
        background-color: #e1d9d9;
        padding: 20px;
    }

    /* Style for the top bar with menu and notifications icons */
    .top-bar {
        height: 26px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: right;
        align-items: center;
        background-color: #e5e0e0;
        padding: 10px 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }


    .upload-link {
        align-items: center;
        
    }

    .upload-link a {
        color: aliceblue;
        font-weight: bold;
        background-color: black;
        border: none;
        border-radius: 20px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
    }

    .container {
        padding: 10px;
    }

    .container .greetings {
        position: relative;
        font-size: large;
        font-weight: bold;
        text-align: center;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }


    .users .user-no {
        border: 1px solid #c1bcbc;
        background-color: aliceblue;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        height: 170px; 
        display: block;
        justify-content: space-around;
    }


    .edit-resources {
        background-color: black;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        margin: auto;
        width: fit-content;
    }

    .edit-resources a {
        color: aliceblue;
        font-weight: bold;
        text-decoration: none;
    }


}