<!DOCTYPE html>
<html>
    <head>
        <title>Upload Form</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>         
    </body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var levelField = $('#id_level_of_education');
            var fileField = $('#id_file');
            var subjectsField = $('#id_subjects');
            var coursesField = $('#id_courses');
            var formField = $('#id_form');
            var yearField = $('#id_year');


            var optionsByLevel = {
                'high-school': {
                    'form': {
                        'Form one': 'Form One',
                        'Form two': 'Form Two',
                        'Form three': 'Form Three',
                    },
                    'subjects': {
                        'Biology': 'Biology',
                        'Chemistry': 'Chemistry',
                    },
                },
                'tertiary': {
                    'year': {
                        'First year': 'First year',
                        'Second year': 'Second year',
                        'Third year': 'Third year',
                    },
                    'courses': {
                        'Architecture': 'Architecture',
                        'Medicine': 'Medicine',
                    },
                },
            };


            function updateOptions(field, options) {
                field.empty();
                $.each(options, function (key, value) {
                    field.append($("<option></option>")
                        .attr("value", key)
                        .text(value));
                });
            }

            levelField.change(function () {
            var selectedLevel = levelField.val();

            // Check if selectedLevel is a valid key in optionsByLevel
            if (optionsByLevel[selectedLevel]) {
                updateOptions(formField, optionsByLevel[selectedLevel]['form']);
                updateOptions(subjectsField, optionsByLevel[selectedLevel]['subjects']);
                updateOptions(coursesField, optionsByLevel[selectedLevel]['courses']);
                updateOptions(yearField, optionsByLevel[selectedLevel]['year']);
            } else {
                
            }
        });
        });
    </script>
</html>